html {
  height: 100%;
}

body {
  color: #666;
  background: #f3f3ee;
  font-family: 'Open Sans',Helvetica,sans-serif;
  font-size: 12px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #21a1d9;
  text-decoration: none;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.fake-link {
  cursor: pointer;
}
.fake-link:hover {
  text-decoration: underline;
}

table.data {
  table-layout: fixed;
  border-collapse: collapse;
}

/* New header section to replace tertiary-header */
.table-header {
  margin: 0 0 10px;
  min-height: 20px;
  position: relative;
}
.table-header .table-header-actions {
  margin: -10px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.count div, td.count {
  text-align: right;
}

table.data col.count {
  width: 150px;
}

table.data col.percent {
  width: 50px;
}

.main {
  padding: 0 20px;
  min-width: 960px;
  max-width: none;
}

/* Welcome page */
.welcome {
  margin-top: 40px;
}

.main-search .icon {
  background: url("../images/icons.png") no-repeat 0 -25px;
  display: block;
  height: 16px;
  left: 25px;
  position: absolute;
  top: 26px;
}

.main-search input[type="text"] {
  padding: 5px 10px 5px 20px;
}

/* Control Panel */
.control-panel {
  width: 960px;
  margin: 0 auto;
}

.control-panel .module {
  margin: 0 0 20px;
}

.control-panel .module dd,
.control-panel .module p {
  margin: 0;
}

.control-panel table.data {
  border: #ccc 1px solid;
  border-collapse: collapse;
  border-spacing: 0;
}

.control-panel table.data tr th {
  padding: 10px;
}

.control-panel table.alt tr:nth-child(even) {
  background: #f5f5f5;
}

/* Header aka mast */
.mast {
  background: #015172;
  background: -webkit-gradient(linear, left top, left bottom, from(#035A80), to(#025172));
  background: -moz-linear-gradient(top, #035A80, #025172);
  border-bottom: 1px solid #0F1F26;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.4);
  min-height: 30px;
  overflow: hidden;
  padding: 10px 20px;
  position: static;
  z-index: 0;
}

.mast h1 {
  float: left;
  margin: 0;
}

.mast .search-form {
  clear: none;
  float: right;
  margin: 0;
  position: relative;
  width: auto;
}

.mast form.search-form input[type=text],
.mast form.search-form input[type=text]:focus {
  border: #0f3f5f 1px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px inset;
  height: 30px;
  font-size: 14px;
  padding: 0 0 0 20px;
  width: 220px;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  clear: none;
}

.mast form.search-form input[type=text]:focus {
  background: #fff;
  outline: none;
}

.mast form.search-form .icon {
  background: url("../images/icons.png") no-repeat 0 -25px;
  display: block;
  height: 16px;
  left: 6px;
  position: absolute;
  top: 8px;
}

.search-form button {
  display: none;
}

.mast h1 {
  height: 25px;
  line-height: 1;
}

.mast h1 a,
.mast h1 a:hover {
  color: #cfdce6;
  float: left;
  margin: 0;
  padding: 2px 0;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
}

.app-heading {
  clear: both;
  padding: 10px;
  overflow: hidden;
  text-shadow: white 0 1px 0;
}

.app-heading h2 {
  color: #555;
  float: left;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.app-heading .app-icon,
.app-name {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.app-name .key {
  color: #64686c;
  display: block;
  font-size: 12px;
  font-weight: lighter;
  line-height: 25px;
}

.app-status {
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eaeaea));
  background: -moz-linear-gradient(top, #fbfbfb, #eaeaea);
  border: #ccc 1px solid;
  color: #808486;
  float: right;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  text-shadow: white 0 1px 0;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.app-status li {
  display: inline-block;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 5px 12px;
}

.app-status li:first-child {
  border-right: #ccc 1px solid;
}

.status {
  background: url("../images/app-status.png") no-repeat;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  width: 25px;
}

.status.on {
  background-position: 0 -26px;
}

.status.off {
  background-position: 0 -1px;
}

.content {
  background: #fefefe;
  border: #ccc 1px solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.125) 0 2px 6px;
  clear: both;
  margin: 0 auto 20px;
  min-height: 500px;
  position: relative;
}

.content h3 {
  color: #555;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0 3px;
}

.content h3 span {
  font-size: 13px;
  font-weight: normal;
}

.aside-nav {
  background: #f5f5f5;
  border-radius: 5px 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.125) -2px 0 6px inset;
  height: 100%;
  position: absolute;
  width: 210px;
}

.aside-nav ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.aside-nav ul > li {
  list-style: none;
  margin: 0;
}

.aside-nav ul > li a {
  color: #346883;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  text-decoration: none;
}

.aside-nav ul > li a:hover {
  background-color: #e6f2fa;
}

.aside-nav ul > li a.current {
  background: #1d5073;
  background: -webkit-gradient(linear, left top, left bottom, from(#32719c), to(#1d5073));
  background: -moz-linear-gradient(top, #32719c, #1d5073);
  border-top: 1px solid #1D5073;
  border-bottom: 1px solid #1D5073;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px 0 rgba(18, 22, 26, 0.4);
  color: #fff;
  text-shadow: 0 -1px #12161A;
}

.content-main {
  margin: 0 0 0 210px;
  padding: 20px;
  position: relative;
}

.content-main .module,
.content-main .table-module {
  -webkit-box-shadow: none;
  -moz-boz-shadow: none;
  box-shadow: none;
}

.column-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.column-list li {
  float: left;
  line-height: 20px;
  list-style: none;
  margin: 0 20px 5px 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  width: 220px;
  white-space: nowrap;
}

.column-list li h5 {
  color: #919191;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 4px;
  text-transform: uppercase;
}

dl.info {
  margin: 0 0 15px;
}

dl.info dt {
  color: #555;
  font-size: 16px;
  margin: 10px 0 2px;
}

dl.info dd {
  margin: 0 0 2px;
}

.platforms {
  border: #ccc 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 20px;
}

.platform {
  border-bottom: #ccc 1px solid;
  padding: 10px;
  overflow: hidden;
}

.platform:last-child {
  border: none;
}

.platform h4 {
  float: left;
  font-size: 20px;
  margin: 0 10px 0 0;
  width: 220px;
}

.platform h4 .icon {
  vertical-align: top;
}

/* User page */
.user-heading {
  padding: 10px;
  overflow: hidden;
  text-shadow: white 0 1px 0;
}

.user-heading h2 {
  color: #555;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.user-heading h2 .user-name {
  float: left;
  margin-bottom: 0;
}

.user-heading h2 .username {
  color: #64686C;
  display: block;
  font-size: 12px;
  font-weight: lighter;
  line-height: 25px;
}

.user-ico {
  background: url("../images/user-ico.png") no-repeat 0 0;
  display: inline-block;
  float: left;
  height: 57px;
  margin: 0 10px 0;
  vertical-align: middle;
  width: 57px;
}

.content.users {
  padding: 0 20px;
}

.user-apps {
  clear: right;
  float: left;
  margin: 0 20px 10px 0;
  width: 450px;
}

.user-apps:nth-child(even) {
  float: right;
  margin: 0 0 10px;
}

.user-apps h2 {
  font-size: 20px;
  line-height: 30px;
}

.user-apps .app-icon {
  float: left;
}

.app-icon {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  background-image: url("../images/default_app_icon_57x57.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  height: 57px;
  overflow: hidden;
  position: relative;
  width: 57px;
}

/* Control Panel */
.search-options {
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
  width: 500px;
}

.search-options h1 {
  margin: 0 0 20px;
  text-align: center;
}

.search-options a.search-option.last {
  float: right;
}

.search-options a {
  background: #dce9f1;
  border: #bdd0dc 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 40px 10px -30px rgba(255, 255, 255, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  font-size: 26px;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 220px;
  -webkit-transition: all .125s ease-in-out;
}

.search-options a:hover {
  box-shadow: inset 0 40px 10px -30px rgba(255, 255, 255, 0.2), 0 4px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.2);
}

.search-options .app-ico {
  background: url("../images/default_app_icon_57x57.png") no-repeat 0 0;
  height: 57px;
  width: 57px;
}

.search-options .icon {
  display: block;
  float: none;
  margin: 0 auto 10px;
}

/* Search Page */
.search-results {
  margin: 20px 0 0;
}

.last-date {
  font-size: 12px;
  font-weight: lighter;
}

/* Search toggle */
.search-toggle {
  float: left;
  margin: 0;
  overflow: hidden;
}

.search-toggle li {
  float: left;
  list-style: none;
  margin: 0;
}

.search-toggle li:first-child a {
  border-radius: 3px 0 0 3px;
}

.search-toggle a {
  background: #0a314a;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e5c85), to(#0a314a));
  background: -moz-linear-gradient(top, #1e5c85, #0a314a);
  border: #0f3f5f 1px solid;
  border-right: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  display: block;
  padding: 4px 6px;
}

.search-toggle a:hover {
  background: #134e75;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c5275), to(#134e75));
  background: -moz-linear-gradient(top, #1c5275, #134e75);
}

.search-toggle a.active {
  background: #1c5275;
  background: -webkit-gradient(linear, left top, left bottom, from(#0a314a), to(#1c5275));
  background: -moz-linear-gradient(top, #0a314a, #1c5275);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.search-toggle a span {
  background: url("../images/search-toggle.png") no-repeat 0 0;
  display: block;
  height: 20px;
  overflow: hidden;
  text-indent: -9999em;
  width: 20px;
}

.search-toggle a.app-search-toggle span {
  background-position: 0 0;
}

.search-toggle a.user-search-toggle span {
  background-position: -20px 0;
}

.search-toggle a.app-search-toggle.active span {
  background-position: 0 -20px;
}

.search-toggle a.user-search-toggle.active span {
  background-position: -20px -20px;
}

.col_1 {
  float: left;
}

.col.other {
  margin-left: 0;
}

.reports {
  position: relative;
}

/* From bootstrap */
.label {
  background-color: #999999;
  border-radius: 3px 3px 3px 3px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  text-transform: uppercase;
}

.label-success {
  background-color: #468847;
}

.label-warning {
  background-color: #f89406;
}

.label-info {
  background-color: #3a87ad;
}

.app-labels {
  line-height: 20px;
}

.preview-ico {
  background: url("../images/preview-ico.png") no-repeat 0 0;
  width: 16px;
  height: 11px;
  margin: 0 4px;
}

#shared-access th:nth-child(1) {
  width: 10%;
}

#shared-access th:nth-child(2) {
  width: 25%;
}

#shared-access th:nth-child(3) {
  width: 15%;
}

#shared-access th:nth-child(4) {
  width: 10%;
}

#shared-access th:nth-child(5) {
  width: 20%;
}

#shared-access th:nth-child(6) {
  width: 20%;
}

form.composer-template select[multiple] {
  height: 130px;
}
form.composer-template textarea {
  height: 250px;
}
form.composer-template label {
  margin-top: 15px;
}
form.composer-template button {
  float: right;
  margin: 20px 0;
}

.template-versions {
  margin-top: 20px;
}
.template-versions pre {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  background-color: #F5F5F5;
  color: #333;
}
.template-versions ul li {
  display: inline-block;
  margin: 5px 5px 0 0;
}
.template-versions .template-parent {
  margin: 20px 0;
  border-left: 4px solid #ccc;
  padding-left: 10px;
}
.template-versions .template-actions {
  float: right;
  font-weight: bold;
}
.template-versions .template-actions .delete {
  color: red;
}
.template-versions .template-actions .delete-template, .template-versions .template-actions .delete-template-confirm {
  display: none;
}
.template-versions .template-actions .delete-template.active, .template-versions .template-actions .delete-template-confirm.active {
  display: inline-block;
}
.template-versions .version-parent {
  margin: 10px 40px;
}
.template-versions .version-parent > div {
  margin-bottom: 8px;
}

/* Stop transitions until the page has loaded */
.preload,
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/********* Clear Floats **************************************************/
/*IE6 float fix*/
* html .header,
* html .header .nav,
* html .main,
* html .row,
* html .tabbar,
* html .app,
* html .module,
* html .appselect .popover ul li,
* html ul.form,
* html ul.horizontal,
* html .list > li,
* html .list > li > div,
* html .date-pick,
* html .datetime,
* html .pages,
* html .map-picker,
* html .btn-group,
* html .charts .report,
* html .parallel,
* html .content-main {
  height: 1%;
}

/* IE7 float clear */
*:first-child + html .header,
*:first-child + html .header .nav,
*:first-child + html .main,
*:first-child + html .row,
*:first-child + html .tabbar,
*:first-child + html .app,
*:first-child + html .module,
*:first-child + html .appselect .popover ul li,
*:first-child + html ul.form,
*:first-child + html ul.horizontal,
*:first-child + html .list > li,
*:first-child + html .list > li > div,
*:first-child + html .date-pick,
*:first-child + html .datetime,
*:first-child + html .pages,
*:first-child + html .map-picker,
*:first-child + html .btn-group,
*:first-child + html .charts .report,
*:first-child + html .parallel,
*:first-child + html .content-main {
  min-height: 1px;
}

/* Browsers that support :after */
.header:after,
.header .nav:after,
.main:after,
.row:after,
.tabbar:after,
.app:after,
.module:after,
.appselect .popover ul li:after,
ul.form:after,
ul.horizontal:after,
.list > li:after,
.list > li > div:after,
.date-pick:after,
.datetime:after,
.pages:after,
.map-picker:after,
.btn-group:after,
.charts .report:after,
.parallel:after,
.content-main:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* App - Messages */
/* Message report */
table tr.message-report {
  background: #f5f5f5;
  background: -webkit-linear-gradient(top, #e6e6e6, #f5f5f5);
  background: -moz-linear-gradient(top, #e6e6e6, #f5f5f5);
  border: none;
  overflow: hidden;
}

table tr.message-report .row {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height .25s ease-in-out;
  -moz-transition: max-height .25s ease-in-out;
  -ms-transition: max-height .25s ease-in-out;
  transition: max-height .25s ease-in-out;
}

table tr.message-report.visible .row {
  max-height: 60px;
}

table tr.message-report td {
  padding: 0;
}

table tr.message-report .row {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset;
  margin: 0;
  padding: 0 0 0 20px;
}

table tr.message-report .col {
  padding: 10px 0;
  text-align: center;
}

table tr.message-report .col:nth-child(2) {
  box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0 inset, #ccc -2px 0 0 inset;
}

table tr.message-report h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

table tr.message-report .count {
  color: #666;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tr.message-report .rate {
  color: #a1a09c;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  left: -40px;
  line-height: 36px;
  margin: -18px 0 0 0;
  padding: 0 20px 0 5px;
  position: absolute;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  top: 50%;
  width: 50px;
}

table tr.message-report .oops p {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0 0;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px 0;
}

.message-report .notification-ico,
.message-report .rich-media-ico {
  display: block;
  float: left;
  margin: 10px 0 0 0;
}

#scheduled-table button[type=submit],
#drafts-table button[type=submit] {
  display: none;
}

/* New */
#drafts-table.drafts-table th:nth-child(1),
#history-table.history-table th:nth-child(1) {
  width: 40%;
}

#drafts-table.drafts-table th:nth-child(4),
#history-table.history-table th:nth-child(4) {
  width: 20%;
}

#drafts-table.drafts-table th:nth-child(2),
#history-table.history-table th:nth-child(2),
#drafts-table.drafts-table th:nth-child(3),
#history-table.history-table th:nth-child(3),
#drafts-table.drafts-table th:nth-child(5),
#history-table.history-table th:nth-child(5) {
  width: 15%;
}

#scheduled-table input[type=checkbox],
#drafts-table td.table-actions a,
#history-table td.table-actions a:first-child,
#scheduled-table td.table-actions a {
  display: none;
}

.loading-mask {
  background: rgba(255, 255, 255, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.loading-mask .spinner {
  left: 50%;
  margin: -10px 0 0 -10px;
  position: absolute;
  top: 50%;
}

.loading-mask .loading-message {
  color: #999;
  display: block;
  font-size: 14px;
  font-weight: bold;
  left: 50%;
  margin: 0 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}

.loading-mask .loading-message .spinner {
  margin: 0;
  position: static;
}

.loading .loading-mask {
  display: block;
}

.error-message {
  display: none;
}

.table-module.error .error-message {
  display: block;
}

.sub-header {
  min-height: 30px;
  margin: 0 0 20px;
  position: relative;
}

.sub-header h2 {
  margin: 0;
}

.sub-header p {
  color: #807e73;
  margin: 0;
}

.sub-header-actions {
  margin: -15px 0 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.sub-header:first-child + .col {
  margin-left: 0;
}

.tertiary-header {
  margin: 0 0 15px;
}

.tertiary-header h3 {
  float: left;
  margin: 0;
}

.tertiary-header .btn-bar {
  float: right;
}

.tertiary-header:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/********* Date Picker **************************************************/
.date-picker {
  width: 200px;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px;
}

.date-picker h3 {
  text-align: center;
  font-size: 12px;
  margin: 0 0 5px 0;
  padding: 0;
  width: 100%;
}

.date-picker h3 a.pager {
  font-size: 18px;
  line-height: 12px;
}

.date-picker h3 a.next {
  float: right;
}

.date-picker h3 a.prev {
  float: left;
}

.date-picker table {
  width: 100%;
  background: #DCE9F1;
  margin: 0;
}

.date-picker table th {
  background: #336781;
  color: #FFF;
  border: 1px solid #336781;
  border-bottom: 1px solid #DCE9F1;
  box-shadow: none;
  padding: 0;
  text-align: center;
  font-size: inherit;
}

.date-picker table td {
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 1px solid #BDD0DC;
  padding: 0;
}

.date-picker table td:hover {
  background: #FFF;
  color: #000;
  cursor: pointer;
}

.date-picker table td.selected {
  background: #346883;
  color: #FFF;
}

/********* Date Range Picker **************************************************/
.date-range-picker {
  width: 460px;
}

.date-range-picker .date-granularity {
  background: #021b26;
  border-bottom: #023951 1px solid;
  border-radius: 0;
  color: #e5fdff;
  font-weight: 700;
  margin: -10px -10px 0 -10px;
  padding: 4px 10px 0px;
}

.date-range-picker .date-granularity > .btn-bar {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.date-range-picker .date-pick {
  padding: 10px 0 0;
}

.date-range-picker .date-pick[name="end"] {
  border-top: 1px solid #d9d9d9;
  box-shadow: inset 0 1px 0 0 #fff;
}

.date-range-picker .date-pick > div {
  margin: 0 0 10px 200px;
  vertical-align: top;
}

.date-range-picker .date-pick > div:first-child {
  border: none;
  box-shadow: none;
  float: left;
  margin-left: 0;
}

.date-range-picker .date-pick label {
  color: #999;
  font-size: 12px;
  margin: 0;
}

.date-range-picker .date-pick input {
  font-weight: bold;
  width: 238px;
}

.date-range-picker .date-pick select {
  background-position: 92% 50%;
  width: 60px;
}

.date-range-picker .date-pick select:last-child {
  margin-left: 5px;
}

.date-range-picker .date-pick small {
  color: #999;
  padding: 0 1px;
}

.date-range-picker .date-pick .date-cal {
  position: relative;
}

.date-range-picker .date-pick .date-cal > a[rel="prev"],
.date-range-picker .date-pick .date-cal > a[rel="next"] {
  background: transparent url("../images/icons.png") no-repeat 0 -100px;
  display: block;
  height: 20px;
  margin: 8px 0 0 15px;
  position: absolute;
  width: 20px;
}

.date-range-picker .date-pick .date-cal > a[rel="next"] {
  background-position: -25px -100px;
  margin: 8px 0 0 0;
  right: 0;
}

.date-range-picker .date-pick .date-cal table {
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.15);
  margin: 0;
}

.date-range-picker .date-pick .date-cal table th span {
  background: #7c858b;
  background: -webkit-gradient(linear, left top, left bottom, from(#7e878c), to(#566773));
  background: -moz-linear-gradient(top, #7e878c, #566773);
  border: 1px solid #393d40;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  color: #fff;
  display: block;
  height: 25px;
  line-height: 25px;
  margin-right: -1px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.date-range-picker .date-pick .date-cal table td {
  border-bottom: 1px solid #98a8b3;
  border-right: 1px solid #98a8b3;
  color: #333;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
}

.date-range-picker .date-pick .date-cal table td:first-child {
  border-left: 1px solid #98a8b3;
}

.date-range-picker .date-pick .date-cal table td a {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #333;
  display: block;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

.date-range-picker .date-pick .date-cal table td a:hover {
  background-color: #fff;
  text-decoration: none;
}

.date-range-picker .date-pick .date-cal table td.inactive {
  background: #e6e6e6;
}

.date-range-picker .date-pick .date-cal table td.inactive a {
  color: #999;
}

.date-range-picker .date-pick .date-cal table td.date {
  background: #e8f3fa;
}

.date-range-picker .date-pick .date-cal table td.selected {
  border-bottom-color: #001f33;
  border-right-color: #004c80;
}

.date-range-picker .date-pick .date-cal table td.selected a {
  background: #0062a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#0062a3), to(#004c80));
  background: -moz-linear-gradient(top, #0062a3, #004c80);
  border: 1px solid #004c80;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  color: #fff;
  margin: -1px;
  position: relative;
  text-shadow: 0 -1px #001f33;
  width: 25px;
}

.date-range-picker > div:last-child {
  border-top: 1px solid #d9d9d9;
  box-shadow: inset 0 1px 0 0 #fff;
  clear: both;
  padding-top: 10px;
}

/* Disaled dates */
.date-range-picker .date-pick .date-cal table td.date.disabled.selected,
.date-range-picker .date-pick .date-cal table td.date.disabled.selected:hover a,
.date-range-picker .date-pick .date-cal table td.date.disabled.selected a,
.date-range-picker .date-pick .date-cal table td.date.disabled.selected a:hover {
  background: #ffd11a;
  background: #ffd11a -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  background: #ffd11a linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  cursor: default;
}

.date-range-picker .date-pick .date-cal table td.disabled.selected,
.date-range-picker .date-pick .date-cal table td.disabled.selected:hover,
.date-range-picker .date-pick .date-cal table td.disabled.selected a:hover,
.date-range-picker .date-pick .date-cal table td.disabled.inactive:hover,
.date-range-picker .date-pick .date-cal table td.disabled.inactive,
.date-range-picker .date-pick .date-cal table td.disabled.inactive a:hover,
.date-range-picker .date-pick .date-cal table td.date.disabled:hover,
.date-range-picker .date-pick .date-cal table td.date.disabled,
.date-range-picker .date-pick .date-cal table td.date.disabled a:hover {
  background: #bac2ca;
  background: #e8f3fa -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  background: #e8f3fa linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  cursor: default;
}

/* Standalone date picker */
.date-range-picker.date-selection {
  width: auto;
}

.date-range-picker.date-selection > .date-pick {
  border: none;
  box-shadow: none;
  padding: 0;
}

.date-range-picker.date-selection > div:last-child {
  border-top: none;
  box-shadow: none;
  clear: both;
  padding: 0;
}

.date-range-picker.date-selection .date-pick > div {
  margin: 0;
}

.date-range-picker.date-selection .date-cal {
  text-align: center;
}

/* Date range */
.date-range {
  padding: 0 10px;
}

.date-range [name="start"]:hover,
.date-range [name="end"]:hover {
  cursor: pointer;
}

/* help */
.badge.help {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  line-height: 28px;
  height: 30px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.badge.help:hover {
  text-decoration: none;
}

.badge.help:after {
  content: '?';
}

.badge.help.open:after {
  content: 'X';
}

#help-btn.open,
#help-btn:active {
  background: -webkit-linear-gradient(90deg, #ebebeb 0%, #d4d4d4 100%);
  background: -moz-linear-gradient(90deg, #ebebeb 0%, #d4d4d4 100%);
  background: -ms-linear-gradient(90deg, #ebebeb 0%, #d4d4d4 100%);
  background: -o-linear-gradient(90deg, #ebebeb 0%, #d4d4d4 100%);
  background: linear-gradient(90deg, #ebebeb 0%, #d4d4d4 100%);
}

#help {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  z-index: 5000;
}

#help.open {
  display: block;
}

/* help tips */
.tip {
  background-color: #fef7c1;
  border-radius: 4px;
  color: #666450;
  padding: 10px 15px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  width: 160px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), inset 0 1px 0 white, 0 0 7px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(99, 54, 54, 0.26);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), inset 0 1px 0 white, 0 0 7px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(99, 54, 54, 0.26);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), inset 0 1px 0 white, 0 0 7px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(99, 54, 54, 0.26);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 100%);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 100%);
  background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 100%);
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* tip arrows */
.tip .arrow-border {
  border-color: transparent transparent rgba(99, 54, 54, 0.26) transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: -21px;
  left: 50%;
  margin: 0 0 0 -10px;
}

.tip .arrow {
  border-color: transparent transparent #fef7c1 transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: -19px;
  left: 50%;
  margin: 0 0 0 -10px;
}

.tip.bottom .arrow-border {
  border-color: rgba(99, 54, 54, 0.26) transparent transparent transparent;
  bottom: -21px;
  top: auto;
}

.tip.bottom .arrow {
  border-color: #fef7c1 transparent transparent transparent;
  bottom: -19px;
  top: auto;
}

.tip.right .arrow-border {
  border-color: transparent transparent transparent rgba(99, 54, 54, 0.26);
  left: auto;
  margin: -10px 0 0;
  right: -21px;
  top: 50%;
}

.tip.right .arrow {
  border-color: transparent transparent transparent #fef7c1;
  left: auto;
  margin: -10px 0 0;
  right: -19px;
  top: 50%;
}

.tip.left .arrow-border {
  border-color: transparent rgba(99, 54, 54, 0.26) transparent transparent;
  margin: -10px 0 0;
  left: -21px;
  top: 50%;
}

.tip.left .arrow {
  border-color: transparent #fef7c1 transparent transparent;
  margin: -10px 0 0;
  left: -19px;
  top: 50%;
}

/* push response report help */
.tip.one {
  left: 3%;
  top: 250px;
}

.tip.two {
  left: 40%;
  top: 250px;
}

.tip.three {
  left: 74%;
  top: 250px;
}

.tip.four {
  left: 50%;
  margin-left: -95px;
  top: 440px;
}

.tip.five {
  left: 100%;
  margin-left: -550px;
  top: -10px;
  width: 320px;
}

.tip.six {
  left: 100%;
  margin-left: -200px;
  top: 45px;
  width: 110px;
}

/* opt-in report help */
.tip#date-range-help {
  right: 10px;
  top: 45px;
}

.tip#device-family-help {
  left: 10px;
  top: 130px;
}

.tip#data-points-help {
  left: 10px;
  top: 290px;
}

.tip#graph-legend-help {
  right: 10px;
  top: 440px;
}

.tip#summary-data-help {
  left: 10px;
  bottom: 360px;
}

.tip#percent-graph-help {
  left: 10px;
  bottom: 60px;
}

.tip#trend-graph-help {
  right: 10px;
  bottom: 65px;
}

/* opt-in report tips */
.report-overlay.tip {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  width: 20%;
}

.report-overlay.tip p {
  margin: 0;
}

.time-series-selection {
  display: inline-block;
  position: relative;
}

.time-series-selection .popover {
  min-width: 120px;
}

/* date range pickers */
.date-range {
  display: none;
  opacity: 0;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.date-range.show {
  display: inline-block;
  opacity: 1;
}

#settings select[name="precision"] {
  bottom: 15px;
  display: none;
  position: absolute;
  right: 0;
}

#download {
  float: right;
}

.audience-series .time-series {
  height: 400px;
  padding-bottom: 20px;
}

.audience-series .time-series svg {
  height: 400px;
  width: 100%;
}

.legend {
  float: left;
}

.legend + .legend {
  float: right;
}

.audience-series .legend .key {
  padding: 2px;
  font-weight: bold;
  color: white;
}

.ios-opted-in {
  background: #7fc97f;
}

.audience-series .point.ios-opted-in, .area.ios-opted-in {
  fill: #7fc97f;
}

.android-opted-out {
  background: #fdc086;
}

.audience-series .point.android-opted-out, .area.android-opted-out {
  fill: #fdc086;
}

.android-opted-in {
  background: #386cb0;
}

.audience-series .point.android-opted-in, .area.android-opted-in {
  fill: #386cb0;
}

.ios-opted-out {
  background: #beaed4;
}

.audience-series .point.ios-opted-out, .area.ios-opted-out {
  fill: #beaed4;
}

/* Tooltips */
.graph-tooltip {
  color: rgba(46, 46, 46, 0);
  border-left: rgba(232, 231, 225, 0.5) 2px solid;
  background: rgba(255, 255, 255, 0.5);
  display: none;
  bottom: 0;
  height: 320px;
  overflow: visible;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
  top: 91px;
  width: 200px;
  z-index: 1;
}

.graph-tooltip:after {
  content: "";
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 2;
}

.graph-tooltip:after {
  border-bottom: #e8e7e1 5px solid;
  border-right: transparent 5px solid;
  border-left: transparent 5px solid;
  left: -6px;
  bottom: 0;
}

.graph-tooltip.flip {
  border-left: none;
  border-right: rgba(232, 231, 225, 0.5) 2px solid;
}

.graph-tooltip.flip:before,
.graph-tooltip.flip:after {
  left: auto;
  right: -6px;
}

.time-series:hover .graph-tooltip {
  display: block !important;
}

/********* Table Module overrides **************************************************/
table.data tr {
  border-bottom: 0 none;
}

table.data col.platform {
  width: 80px;
  border: 0 none;
}

.table-module table .numerical {
  text-align: right;
}

.table-module table tr td {
  border-top: #dbdbdb 1px solid;
}

.table-module thead + tbody tr:first-child td {
  border-top: 0 none;
}

.table-module .toggle-row {
  color: #21a1d9;
  cursor: pointer;
  font-weight: bold;
}

.table-module .month-detail {
  display: none;
}

.table-module .month-detail.active {
  display: table-row-group;
}

.table-module .month-detail td {
  background-color: #f6f6f6;
}

/*# sourceMappingURL=control-panel.css.map */
